/* Stylizacja galerii */
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.gallery-thumbnails {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-thumbnails img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.gallery-thumbnails img:hover {
    border: 2px solid #a52a2a;
}

.gallery-preview {
    max-width: 80%;
}

.gallery-preview img {
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
}
